nav a{
    margin-left: 5px;
    background: skyblue;
    padding: 5px;
    border-radius: 7px;

}
.user-container{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-container img{
    width: 200px;
    
}

.detals-container img{
    width: 200px;

}
.users-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.users-container{
    margin-top: 10px;
}